<!-- HTML document designed to display GPS Coordinates -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GPS</title>

        <!-- Link to the Bootstrap CSS file hosted on a CDN allows us to style and layout our code using Bootstrap framework -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header">
            <h1>GPS Coordinates</h1> 
            <!-- Google Maps image-->
            <img src="google-maps-removebg-preview.png" alt="Google Maps Logo">
        </div>

        <!-- This line begins HTML code which creates a form that will send a POST request to the gps.html -->
        <form>
            <div class="form-group">
                <!-- Labels and input fields for all the address components made up of form-label and form-control within a form-group made -->
                <label for="latitude" class="form-label">Latitude:</label>
                <input type="text" id="latitude" name="latitude" class="form-control" value="<%= location.lat %>" width= "25%" readonly>
            </div>
            <div class="form-group">
                <label for="longitude" class="form-label">Longitude:</label>
                <input type="text" id="longitude" name="longitude" class="form-control" value="<%= location.lng %>" width= "25%" readonly>
            <div class="form-group">
                <br>
                <!-- Back button-->
                <input type="button" value="Back" onclick="history.back()">
            </div>
        </form>
    </body>
</html>
